@use '../constants';

.field {
  width: calc(100% - 2 * #{constants.$fieldBorderWidth});
  height: calc(100% - 2 * #{constants.$fieldBorderWidth});
  position: relative;
  border: constants.$fieldBorder;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cell {
  position: absolute;
  border: constants.$cellBorder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: constants.$cellFontSize;
  color: constants.$cellFontColor;
}

.verticalLine {
  position: absolute;
  border-left: constants.$lineBorder;
}

.verticalLineMarker {
  position: absolute;
  z-index: 100;
  background: #fff;
  border: constants.$lineBorder;
  transform: translate(-50%, -1px);
  font-size: constants.$lineMarkerFontSize;
  color: constants.$lineMarkerFontColor;
  padding: constants.$smallPadding;
}

.horizontalLine {
  position: absolute;
  border-top: constants.$lineBorder;
}

.horizontalLineMarker {
  position: absolute;
  z-index: 100;
  background: #fff;
  border: constants.$lineBorder;
  transform: translate(-1px, -50%);
  font-size: constants.$lineMarkerFontSize;
  color: constants.$lineMarkerFontColor;
  padding: constants.$smallPadding;
}
