// padding
$pagePadding: 10px;
$smallPadding: 1px 4px 1px 4px;

// colors
$border0Color: #bbb;
$border1Color: #eee;

// borders
$fieldBorderWidth: 2px;
$fieldBorder: $fieldBorderWidth solid $border0Color;
$cellBorder: 1px solid $border1Color;
$lineBorder: 1px solid $border0Color;

// fonts
$cellFontSize: 11px;
$cellFontColor: #777;
$lineMarkerFontSize: 14px;
$lineMarkerFontColor: #999;
