// padding
$pagePadding: 10px;
$smallPadding: 2px 5px 2px 5px;

// colors
$border0Color: #bbb;
$border1Color: #eee;

// borders
$fieldBorderWidth: 5px;
$fieldBorder: $fieldBorderWidth solid $border0Color;
$cellBorder: 1px solid $border1Color;
$lineBorder: 5px solid $border1Color;
$lineMarkerBorder: 1px solid $border1Color;
$lineMarkerBackground: $border1Color;

// fonts
$cellFontSize: 11px;
$cellFontColor: #777;
$lineMarkerFontSize: 14px;
$lineMarkerFontColor: #6A6A6A;
